{% extends 'main/base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">

        <div class="row">
            <div class="col-md-4">
                <img src="{{hood.image}}" alt="{{project.name}}" class="img-fluid" width="80%">
            </div>
            <div class="col-md-8">
                <h3 class="text-center">
                  Hey {{ user.username|title }}, Welcome to  {{hood.name}} Hood
                </h3>
                <p>Health Telephone Number: {{hood.health_tell}}</p>
                <br>
                <p>Police Helpline Number: {{hood.police_number}}</p>
                <br>
                <p>Occupants: {{hood.members.count}} members</p>
                <br>          
                <p>Hood Admin: {{hood.admin.user.username|title}}</p>
                <a href="{% url 'main:edit_hoods' hood.id%}" class="btn btn-info"> Update Hood</a>

                
                <a href="{% url 'main:delete_hoods' hood.id%}" class="btn btn-danger"> Delete Hood</a>

                <a href="{% url 'main:leave-hood' hood.id %}" class="btn btn-primary">Leave Hood</a>
            </div>
        </div>
    </div>
    </div>
    <br>
  
    
    
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card" style="background-color: rgb(211, 183, 183)" >
            <div class="card-body">
                    
                <h3 class="text-center">{{hood.name}} Hood Posts/Notices</h3>
                <button><a href="{% url 'main:post' hood.id %}">Add Post</a></button>
               <ul>
                {% for post in posts %}
                   <br>
                   <li>Posted by: {{ post.user.user.username}}</li>
                   <li>Title: {{ post.title}} </li>
                    <li> Post: {{ post.post}}</li>
                    <li> Post Date: {{ post.date}}</li>
                    <li>Hood: {{ post.hood}}</li>
                   
                   {% endfor %}
               </ul> 
            </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="card" style="background-color: rgb(211, 183, 183)">
            <div class="card-body">
                <h3 class="text-center"> {{ hood.name}} Busineses</h3>
                <button><a href="{% url 'main:business' hood.id %}">Add Business</a></button>
               <ul>
                   
                {% for biz in business %}
                <img  src="{{ biz.image }}" class="img-thumbnail" alt="Cinque Terre" width="260" height="236">
                <br>
                   <h4>Business Name: {{ biz.name }}</h4>
                   <li>Business Description: {{ biz.description}}</li>
                    <li> Business Email: {{ biz.email }}</li>
                    <li>Business Owner: {{ biz.user.user.username}}</li>
                    <li>Business Location: {{ biz.hood }}</li>
                   
                {% endfor %}
               </ul> 
            </div>
        </div>
        
    </div>
</div>


{% endblock %}