{% extends 'main/base.html' %}


{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Neighborhoods</h1>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for hood in hoods %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="{{hood.image}}" alt="" class="img-fluid"  width="260" height="236">
                            <h3 class="text-center">{{ hood.name }}</h3>
                            <div class="text-center">
                                <i class="text-center">Location: {{ hood.location}}</i>
                            </div>
                            <div class="text-center">
                                <i class="text-center">Occupants: {{ hood.occupants}}</i>
                            </div>
                            <a href="" button class="btn btn-primary">Join the Hood</a>
                            <a href="{% url 'main:details' hood.id %}" button class="btn btn-primary">See Hood Details</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}



