{% extends 'main/base.html' %}


{% block content %}
<div class="container">
    <div class="jumbotron text-white" style="background-image: url('https://image.freepik.com/free-vector/night-background-with-rental-house_33099-1128.jpg')">
        <h1 class="display-4 text-center">Welcome to Neighborhood</h1>
        <h2> </h2>
        <hr class="my-4">
      </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for hood in hoods %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="{{hood.image}}" alt="" class="img-fluid"  width="260" height="236">
                            <h3 class="text-center">{{ hood.name }}</h3>
                            <div class="text-center">
                                <i class="text-center">Location: {{ hood.location}}</i>
                            </div>
                            <div class="text-center">
                                <i class="text-center">Occupants: {{ hood.occupants}}</i>
                            </div>

                            
                            <a href="{% url 'main:join-hood' hood.id %}" class="btn btn-primary">Join Hood</a>

                            <!-- <a href="{% url 'main:details' hood.id %}" button class="btn btn-primary">See Hood Details</a> -->

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}



